.App {
  background-color: rgb(64, 64, 78);
  color: #d1d5d6;
  min-height: 100vh;
}

.app-container {
  padding: 20px;

}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-container {
  margin-left: 10px;
}

input[type=text], textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  color: inherit;
  background-color: rgb(30, 30, 40);
  border: 1px solid #dc4d2e99;
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
  caret-color: #2b8ea8;
}

textarea {
  min-height: 50vh;
  min-width: 100%;
  resize: vertical;
}

#feedback-danger {
  color: #dc4e2e;
}

@media only screen and (min-width: 768px) {
  .app-container {
    padding: 20px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .app-container {
    padding: 20px 150px;
  }
}

@media only screen and (min-width: 1400px) {
  .app-container {
    padding: 20px 300px;
  }
}